{% extends "template.html" %}

{% block index %}
	<tr><td align='center'><a href='#avereandessere'><font color='black'>Avere and Essere</font></a></td></tr>
	<tr><td align='center'><a href='#conjugatingregularverbs'><font color='black'>Conjugating Regular Verbs</font></a></td></tr>
	<tr><td align='center'><a href='#commonverbs'><font color='black'>Some Common Verbs</font></a></td></tr>
	<tr><td align='center'><a href='#who'><font color='black'><i>who? what? where? when? why?</i></font></a></td></tr>
	<tr><td align='center'><a href='#conjugationsofirregularverbs'><font color='black'>Conjugations of Some Irregular Verbs</font></a></td></tr>
	<tr><td align='center'><a href='#prepositions'><font color='black'>Preposistions</font></a></td></tr>
	<tr><td align='center'><a href='#contractingprepositions'><font color='black'>Contracting Prepositions</font></a></td></tr>
	<tr><td align='center'><a href='#directobjectpronouns'><font color='black'>Direct Object Pronouns</font></a></td></tr>
	<tr><td align='center'><a href='#indirectobjectpronouns'><font color='black'>Indirect Object Pronouns</font></a></td></tr>
{% endblock %}
{% block vocabindex %}
	<tr><td align='center'><a href='vocab.htm#commonverbs'><font color='black'>Some Common Verbs</font></a></td></tr>
{% endblock %}


{% block content %}

<br /><br /><a name='avereandessere' />
<br /><font face='arial rounded mt bold'><big>Avere and Essere</big></font> <font color='white'> <a href='#top'>top</a> </font>

<br /><br />The verbs <i>avere</i>(to have) and <i>essere</i>(to be) are commonly used in Italian.  They are conjugated as so:

<br /><br /><table align='center' border='2' bordercolor='#dd2222' cellpadding='8'>
<tr><td align='center' width='90'><b>Avere</b></td>
<td align='center'>ho</td>
<td align='center'>hai</td>
<td align='center'>ha</td>
<td align='center'>abbiamo</td>
<td align='center'>avete</td>
<td align='center'>hanno</td></tr>
<tr><td align='center' width='90'><b>Essere</b></td>
<td align='center'>sono</td>
<td align='center'>sei</td>
<td align='center'>e`</td>
<td align='center'>siamo</td>
<td align='center'>siete</td>
<td align='center'>sono</td></tr>
</table>

<br /></center>Sentences such as "I have a tennis racket." and "He owns the house." use <i>avere</i>.  "Sentences such as "They are content." and "It is a dog." use <i>essere</i>.  There are seven exceptions to this.  When using these exceptions, you must use <i>avere</i> instead of <i>essere</i>.  The exceptions are: avere fame (to be hungry), avere sete (to be thirsty), avere freddo (to be cold), avere caldo (to be hot), avere ragione (to be right), avere sbagliato (to be wrong), avere paura di (to be afraid of), and avere infretta (to be in a hurry).  The past tense of <i>avere</i> is <i>avuto</i> and the past tense of <i>essere</i> is <i>stato</i>.

<br /><br /><i>Avere</i> and <i>Essere</i> are most important because they are used to make sentences past tense.  To make a present tense sentence past tense, put the conjugated form of <i>essere</i> or <i>avere</i> in front of the verb and make the verb past tense.  If you use essere, the ending vowel of the conjugated verbs must agree with the subject: o (singular masculine), a (singular feminine), i (plural masculine), or e (plural feminine).  In order to determine whether to use <i>essere</i> or <i>avere</i>, simply ask yourself this question: "Is this something I can do going in or out the door?"  If it is, use <i>essere</i>; if it isn't, use <i>avere</i>.<center>

<br /><br /><a name='conjugatingregularverbs' />
<br /><font face='arial rounded mt bold'><big>Conjugating Regular Verbs</big></font> <font color='white'> <a href='#top'>top</a> </font>

<br /><br />Regular verbs end in "are, "ire", or "ere" and change depending on the person using the verb.  When conjugating a regular verb, take out the "are, "ire", or "ere" so that you are left with the root.  Then plug in the correct verb endings.  Below is a table consisting of the correct verb endings.

<br /><br /><table align='center' border='2' bordercolor='#2222dd' cellpadding='4'>
<tr><td align="center"><strong>ARE</strong></td> <td align="center"><strong>IRE</strong></td> <td align="center"><strong>ERE</strong></td></tr>
<tr><td align="center">o</td>   <td align="center">o</td>   <td align="center">o</td></tr>
<tr><td align="center">i</td>   <td align="center">i</td>   <td align="center">i</td></tr>
<tr><td align="center">a</td>   <td align="center">e</td>   <td align="center">e</td></tr>
<tr><td align="center">iamo</td><td align="center">iamo</td><td align="center">iamo</td></tr>
<tr><td align="center">ate</td> <td align="center">ite</td> <td align="center">ete</td></tr>
<tr><td align="center">ano</td> <td align="center">ono</td> <td align="center">ono</td></tr></table>

<br />To conjugate a verb in past tense, first put the correct form of <i>essere</i> or <i>avere</i> in front of it conjugated in present tense.  Essere is used for any coming or goin actions (anything you can do going through a door).  Avere is used for everything else.  After choosing the right form of avere or essere, you must reduce the verb to its root and add the appropriate past tense ending depending on what you took away:

<br /><br /><table align='center' border="2" bordercolor='#2222dd' cellpadding='4'>
<tr><td align="center"><strong>ARE</strong></td> <td align="center"><strong>IRE</strong></td> <td align="center"><strong>ERE</strong></td></tr>
<tr><td align="center">ato</td>   <td align="center">uto</td>   <td align="center">ito</td></tr></table>

<br /><br /><a name='commonverbs' />
<br /><font face='arial rounded mt bold'><big>Some Common Verbs</big></font> <font color='white'> <a href='#top'>top</a> </font>

<br /><br /><a name='who' /><table align='center'>
<tr><td><pre>
<font face='mattantique bt'>abitare</font> - <font color='#dd2222' face='maiandra gd'>live</font>
<font face='mattantique bt'>arrivare</font> - <font color='#dd2222' face='maiandra gd'>arrive</font>
<font face='mattantique bt'>chiedere</font> - <font color='#dd2222' face='maiandra gd'>ask</font>
<font face='mattantique bt'>comprare</font> - <font color='#dd2222' face='maiandra gd'>buy</font>
<font face='mattantique bt'>correre</font> - <font color='#dd2222' face='maiandra gd'>run</font>
<font face='mattantique bt'>finire</font> - <font color='#dd2222' face='maiandra gd'>finish</font>
<font face='mattantique bt'>guidare</font> - <font color='#dd2222' face='maiandra gd'>drive</font>
<font face='mattantique bt'>imparare</font> - <font color='#dd2222' face='maiandra gd'>learn</font>
<font face='mattantique bt'>insegnare</font> - <font color='#dd2222' face='maiandra gd'>teach</font>
<font face='mattantique bt'>lasciare</font> - <font color='#dd2222' face='maiandra gd'>leave behind</font>
<font face='mattantique bt'>mettere</font> - <font color='#dd2222' face='maiandra gd'>put</font>
<font face='mattantique bt'>prendere</font> - <font color='#dd2222' face='maiandra gd'>take/get</font>
<font face='mattantique bt'>pulire</font> - <font color='#dd2222' face='maiandra gd'>clean</font>
<font face='mattantique bt'>ricordare</font> - <font color='#dd2222' face='maiandra gd'>remember</font>
<font face='mattantique bt'>tornare/ritornare</font> - <font color='#dd2222' face='maiandra gd'>return</font>
<font face='mattantique bt'>vedere</font> - <font color='#dd2222' face='maiandra gd'>see</font>
</pre></td></tr></table>

<br /><font face='arial rounded mt bold'><i>Who? What? Where? When? Why?</i></big></font> <font color='white'> <a href='#top'>top</a> </font>

<br /><br /><table align='center' width='64%'>
<tr><td><i>who?</i></td><td><i>what?</i></td><td><i>where?</i></td><td><i>when?</i></td><td><i>why?</i></td><td><i>which?</i></td><td><i>how?</i></td><td><i>how much?</i></td></tr>
<tr><td><i>chi?</i></td><td><i>che?</i></td><td><i>dove?</i></td><td><i>quando?</i></td><td><i>perche?</i></td><td><i>quale?</i></td><td><i>come?</i></td><td><i>quanto?</i></td></tr></table>

<br /><br /><a name='conjugationsofirregularverbs' />
<br /><font face='arial rounded mt bold'><big>Conjugations of Some Irregular Verbs</big></font> <font color='white'> <a href='#top'>top</a> </font>

<br /><br /><table align='center' bgcolor='#007000' border='2' bordercolor='white' width='80%'>
<tr><td><font color='white' face='cac futura casual'>Avere --> to have</font></td>
<td><font color='white'>ho</font></td>
<td><font color='white'>hai</font></td>
<td><font color='white'>ha</font></td>
<td><font color='white'>abbiamo</font></td>
<td><font color='white'>avete</font></td>
<td><font color='white'>hanno</font></td></tr>
<tr><td><font color='white' face='cac futura casual'>Andare --> to go</font></td>
<td><font color='white'>vado</font></td>
<td><font color='white'>vai</font></td>
<td><font color='white'>va</font></td>
<td><font color='white'>andiamo</font></td>
<td><font color='white'>andate</font></td>
<td><font color='white'>vanno</font></td></tr>
<tr><td><font color='white' face='cac futura casual'>Dare --> to give</font></td>
<td><font color='white'>do</font></td>
<td><font color='white'>dai</font></td>
<td><font color='white'>da</font></td>
<td><font color='white'>diamo</font></td>
<td><font color='white'>date</font></td>
<td><font color='white'>danno</font></td></tr>
<tr><td><font color='white' face='cac futura casual'>Dire --> to talk</font></td>
<td><font color='white'>dico</font></td>
<td><font color='white'>dici</font></td>
<td><font color='white'>dice</font></td>
<td><font color='white'>diciamo</font></td>
<td><font color='white'>dite</font></td>
<td><font color='white'>dicono</font></td></tr>
<tr><td><font color='white' face='cac futura casual'>Dovere --> to have to</font></td>
<td><font color='white'>devo</font></td>
<td><font color='white'>devi</font></td>
<td><font color='white'>deve</font></td>
<td><font color='white'>dobbiamo</font></td>
<td><font color='white'>dovete</font></td>
<td><font color='white'>devono</font></td></tr>
<tr><td><font color='white' face='cac futura casual'>Essere --> to be</font></td>
<td><font color='white'>sono</font></td>
<td><font color='white'>sai</font></td>
<td><font color='white'>e'</font></td>
<td><font color='white'>siamo</font></td>
<td><font color='white'>siete</font></td>
<td><font color='white'>sono</font></td></tr>
<tr><td><font color='white' face='cac futura casual'>Fare --> to do</font></td>
<td><font color='white'>faccio</font></td>
<td><font color='white'>fai</font></td>
<td><font color='white'>fa</font></td>
<td><font color='white'>facciamo</font></td>
<td><font color='white'>fate</font></td>
<td><font color='white'>fanno</font></td></tr>
<tr><td><font color='white' face='cac futura casual'>Potere --> to be able to</font></td>
<td><font color='white'>posso</font></td>
<td><font color='white'>poui</font></td>
<td><font color='white'>pu'o</font></td>
<td><font color='white'>possiamo</font></td>
<td><font color='white'>potete</font></td>
<td><font color='white'>possono</font></td></tr>
<tr><td><font color='white' face='cac futura casual'>Sapere --> to be</font></td>
<td><font color='white'>so</font></td>
<td><font color='white'>sai</font></td>
<td><font color='white'>sa</font></td>
<td><font color='white'>sappiamo</font></td>
<td><font color='white'>sapete</font></td>
<td><font color='white'>sanno</font></td></tr>
<tr><td><font color='white' face='cac futura casual'>Uscire --> to go out</font></td>
<td><font color='white'>esco</font></td>
<td><font color='white'>esci</font></td>
<td><font color='white'>esce</font></td>
<td><font color='white'>usciamo</font></td>
<td><font color='white'>uscite</font></td>
<td><font color='white'>escono</font></td></tr>
<tr><td><font color='white' face='cac futura casual'>Venire --> to come</font></td>
<td><font color='white'>vengo</font></td>
<td><font color='white'>vieni</font></td>
<td><font color='white'>viene</font></td>
<td><font color='white'>veniamo</font></td>
<td><font color='white'>venite</font></td>
<td><font color='white'>vengono</font></td></tr>
<tr><td><font color='white' face='cac futura casual'>Volere --> to want</font></td>
<td><font color='white'>voglio</font></td>
<td><font color='white'>vuoi</font></td>
<td><font color='white'>vuole</font></td>
<td><font color='white'>vogliamo</font></td>
<td><font color='white'>volete</font></td>
<td><font color='white'>vogliono</font></td></tr></table>

<br /><br /><font face='cac futura casual'>Piacere --> to like</font>

<table bgcolor='#007000' border="2" bordercolor="white">
<tr><td align="center"> </td>
<td align="center"><font color='white'>Present Tense</font></td>
<td align="center"><font color='white'>Past Tense</font></td>   </tr>
<tr><td align="center"><font color='white'>singular</font></td>
<td align="center"><font color='white'>piace</font></td>
<td align="center"><font color='white'>e' piaciuto/a</font></td>   </tr>
<tr><td align="center"><font color='white'>plural</font></td>
<td align="center"><font color='white'>piacciono</font></td>
<td align="center"><font color='white'>sono piaciuti/e</font></td>   </tr>
</table>

<br />Piacere is a special case.  The verb dispiacere is conjugated like piacere.

<br /><br /><a name='prepositions' />
<br /><font face='arial rounded mt bold'><big>Prepositions</big></font> <font color='white'> <a href='#top'>top</a> </font>

<br /><br /><table align='center'>
<tr bgcolor='#5634d9'><td><font color='#dddddd'>a</font></td><td><font color='#dddddd'>at, to, in</font></td></tr>
<tr bgcolor='#5847c4'><td><font color='#dddddd'>con</font></td><td><font color='#dddddd'>with</font></td></tr>
<tr bgcolor='#5634d9'><td><font color='#dddddd'>da</font></td><td><font color='#dddddd'>from</font></td></tr>
<tr bgcolor='#5847c4'><td><font color='#dddddd'>di</font></td><td><font color='#dddddd'>of, possession</font></td></tr>
<tr bgcolor='#5634d9'><td><font color='#dddddd'>in</font></td><td><font color='#dddddd'>in, to, into</font></td></tr>
<tr bgcolor='#5847c4'><td><font color='#dddddd'>per</font></td><td><font color='#dddddd'>for</font></td></tr>
<tr bgcolor='#5634d9'><td><font color='#dddddd'>su</font></td><td><font color='#dddddd'>on, over</font></td></tr>
</table>

<br /><br /><a name='contractingprepositions' />
<br /><font face='arial rounded mt bold'><big>Contracting Prepositions</big></font> <font color='white'> <a href='#top'>top</a> </font>

<br /><br />When a preposition comes directly before an article, it usually contracts with the article.  Here's a quick reference for you...

<br /><br /><table align='center' width='65%'>

<tr bgcolor='#5634d9'><td bgcolor='#5634d9'><font color='white'></td>
<td bgcolor='#5847c4'><font color='white'>a</td>
<td bgcolor='#5634d9'><font color='white'>con</td>
<td bgcolor='#5847c4'><font color='white'>da</td>
<td bgcolor='#5634d9'><font color='white'>di</td>
<td bgcolor='#5847c4'><font color='white'>in</td>
<td bgcolor='#5634d9'><font color='white'>su</td></tr>

<tr bgcolor='#5634d9'><td bgcolor='#5847c4'><font color='white'>lo</td>
<td bgcolor='#5634d9'><font color='white'>allo</td>
<td bgcolor='#5847c4'><font color='white'>collo</td>
<td bgcolor='#5634d9'><font color='white'>dallo</td>
<td bgcolor='#5847c4'><font color='white'>dello</td>
<td bgcolor='#5634d9'><font color='white'>nello</td>
<td bgcolor='#5847c4'><font color='white'>sullo</td></tr>

<tr bgcolor='#5634d9'><td bgcolor='#5634d9'><font color='white'>il</td>
<td bgcolor='#5847c4'><font color='white'>al</td>
<td bgcolor='#5634d9'><font color='white'>col</td>
<td bgcolor='#5847c4'><font color='white'>dal</td>
<td bgcolor='#5634d9'><font color='white'>del</td>
<td bgcolor='#5847c4'><font color='white'>nel</td>
<td bgcolor='#5634d9'><font color='white'>sul</td></tr>

<tr bgcolor='#5634d9'><td bgcolor='#5847c4'><font color='white'>l'</td>
<td bgcolor='#5634d9'><font color='white'>all'</td>
<td bgcolor='#5847c4'><font color='white'>coll'</td>
<td bgcolor='#5634d9'><font color='white'>dall'</td>
<td bgcolor='#5847c4'><font color='white'>dell'</td>
<td bgcolor='#5634d9'><font color='white'>nell'</td>
<td bgcolor='#5847c4'><font color='white'>sull'</td></tr>

<tr bgcolor='#5634d9'><td bgcolor='#5634d9'><font color='white'>la</td>
<td bgcolor='#5847c4'><font color='white'>alla</td>
<td bgcolor='#5634d9'><font color='white'>colla</td>
<td bgcolor='#5847c4'><font color='white'>dalla</td>
<td bgcolor='#5634d9'><font color='white'>della</td>
<td bgcolor='#5847c4'><font color='white'>nella</td>
<td bgcolor='#5634d9'><font color='white'>sulla</td></tr>

<tr bgcolor='#5634d9'><td bgcolor='#5847c4'><font color='white'>i</td>
<td bgcolor='#5634d9'><font color='white'>ai</td>
<td bgcolor='#5847c4'><font color='white'>coi</td>
<td bgcolor='#5634d9'><font color='white'>dai</td>
<td bgcolor='#5847c4'><font color='white'>dei</td>
<td bgcolor='#5634d9'><font color='white'>nei</td>
<td bgcolor='#5847c4'><font color='white'>sui</td></tr>

<tr bgcolor='#5634d9'><td bgcolor='#5634d9'><font color='white'>gli</td>
<td bgcolor='#5847c4'><font color='white'>agli</td>
<td bgcolor='#5634d9'><font color='white'>cogli</td>
<td bgcolor='#5847c4'><font color='white'>dagli</td>
<td bgcolor='#5634d9'><font color='white'>degli</td>
<td bgcolor='#5847c4'><font color='white'>negli</td>
<td bgcolor='#5634d9'><font color='white'>sugli</td></tr>

<tr bgcolor='#5634d9'><td bgcolor='#5847c4'><font color='white'>le</td>
<td bgcolor='#5634d9'><font color='white'>alle</td>
<td bgcolor='#5847c4'><font color='white'>colle</td>
<td bgcolor='#5634d9'><font color='white'>dalle</td>
<td bgcolor='#5847c4'><font color='white'>delle</td>
<td bgcolor='#5634d9'><font color='white'>nelle</td>
<td bgcolor='#5847c4'><font color='white'>sulle</td></tr></table>

<br /><br /></center>All contractions follow the same pattern; except <i>con</i> becomes <i>co</i> before contracting, <i>di</i> becomes <i>de</i> before contracting, and <i>in</i> becomes <i>ne</i> before contracting.  The preposition <i>per</i>(for) does not contract and the preposition <i>con</i> is not required to contract in the italian language and most often is left uncontracted.

<br /><br />*note: articles are not used with the following words: casa + scuola

<br /><br />*note: articles are not used after <i>in</i> with the following words: biblioteca, banca, campagna, centro, chiesa, piazza, rooms in a house, ufficio.<center>

<br /><br /><a name='directobjectpronouns' />
<br /><font face='arial rounded mt bold'><big>Direct Object Pronouns</big></font> <font color='white'> <a href='#top'>top</a> </font>

<br /><br />The word <i>direct object</i> refers to the noun after the action verb that the verb is talking about.  In "I draw a picture," "picture" is the direct object.  A <i>direct object pronoun</i> replaces the direct object with a pronoun.  The sentence would now be "I draw it."  Direct Object Pronouns can also refer to people.

<br /><br />In Italian, <abbr title='Direct Object Pronouns'>DOPs</abbr> have these special articles:

<br /><br /><table align='center' hight='120' width='150' bgcolor='#dddddd' border='5' bordercolor='#aaaaaa'>
<tr><td colspan='2' width='50%' align='center'><font color='black'>Direct Object Pronouns</font></td></tr>
<tr><td align='center' width='50%'><font color='black'>mi</font></td><td align='center' width='50%'><font color='black'>ci</font></td></tr>
<tr><td align='center' width='50%'><font color='black'>ti</font></td><td align='center' width='50%'><font color='black'>vi</font></td></tr>
<tr><td align='center' width='50%'><font color='black'>lo/la</font></td><td align='center' width='50%'><font color='black'>li/le</font></td></tr></table>

<br />The DO that you are changing to "it" will become the article it corrosponds to.  Non-living objects can only use the lo/la and li/le articles.  Once you have found the right article, you must move it in front of the verb. Example...

<br /><br /><table bgcolor='bbb000' align='center' border='5' bordercolor='999000'>
<tr><td><font color='white'>The sentence "I clean the room."</font></td></tr>
<tr><td><font color='white'>In Italian "Pulisco la stanza."</font></td></tr>
<tr><td><font color='white'>Change "room" to "it" "Pulisco la."</font></td></tr>
<tr><td><font color='white'>Place "it" before the verb "La pulisco."</font></td></tr></table>

<br /><table bgcolor='bbb000' align='center' border='5' bordercolor='999000'>
<tr><td><font color='white'>The sentence "We saw Cara and Frank."</font></td></tr>
<tr><td><font color='white'>In Italian "Abbiamo veduto Cara e Franko."</font></td></tr>
<tr><td><font color='white'>Change "Cara and Frank" to "them" "Abbiamo veduto li."</font></td></tr>
<tr><td><font color='white'>Place "them" before the verb "Li abbiamo veduto."</font></td></tr></table>

<br /></center>Notice that "li" went before "abbiamo" and not just "veduto."  This is because avere and essere are verbs also and they help out the second verb.  They must always stick to the verb.  Do not make the mistake of writing "Abbiamo li veduto" on your tests!<center>

<br /><br /><a name='indirectobjectpronouns' />
<br /><font face='arial rounded mt bold'><big>Indirect Object Pronouns</big></font> <font color='white'> <a href='#top'>top</a> </font>

<br /><br /><i>Indirect Object Pronouns</i> are extreemly similar to direct object pronouns.  An indirect object is the noun that the direct object refers to.  In the sentence, "I wrote Sara a letter," "Sara" is the indirect object because the letter (which is the direct object) was written to her.  In the sentence, "I threw the ball to John," "John" is the indirect object because the ball is being thrown to him.  In English, words like "for" and "to" usually come before an indirect object; In Italian, the words "a" or "con" signify an indirect object.  Using indirect objects in italian involves the same process as that for direct objects, but the articles are different.

<br /><br /><table align='center' hight='120' width='150' bgcolor='#dddddd' border='5' bordercolor='#aaaaaa'>
<tr><td colspan='2' width='50%' align='center'><font color='black'>Indirect Object Pronouns</font></td></tr>
<tr><td align='center' width='50%'><font color='black'>mi</font></td><td align='center' width='50%'><font color='black'>ci</font></td></tr>
<tr><td align='center' width='50%'><font color='black'>ti</font></td><td align='center' width='50%'><font color='black'>vi</font></td></tr>
<tr><td align='center' width='50%'><font color='black'>gli/le</font></td><td align='center' width='50%'><font color='black'>gli/loro</font></td></tr></table>

<br /><br /><table bgcolor='bbb000' align='center' border='5' bordercolor='999000'>
<tr><td><font color='white'>The sentence "I call to Alison."</font></td></tr>
<tr><td><font color='white'>In Italian "Chiamo a lei."</font></td></tr>
<tr><td><font color='white'>Change "Alison" to "her" "Chiamo a le."</font></td></tr>
<tr><td><font color='white'>Place "her" before the verb "Le chiamo."</font></td></tr></table>

{% endblock %}
