{% extends "template.html" %}

{% block index %}
	<br /><br /><table align='center' border='1' bordercolor='#33ccff'><tr><td><table align='center' width='300' border='14' bordercolor='black'>
	<tr><td align='center' valign='center'><font color='white'><h2>Italian {{ course_name }}</h2></font></td></tr>
	<tr><td align='center'><a href='#determiners'><font color='#33ccff'>Determiners</font></a></td></tr>
	</table></td></tr></table>
	<br /><br /><table align='center' border='1' bordercolor='#33ccff'><tr><td><table align='center' width='300' border='14' bordercolor='black'>
	<tr><td align='center' valign='center'><font color='white'><h2>Italian {{ course_name }} Vocab</h2></font></td></tr>
	<tr><td align='center'><a href='Vocab.html#storevocab'><font color='#33ccff'></font></a></td></tr>
	</table></td></tr></table>
	<table align='center' border='15' bordercolor='black'>
	<tr><td><a href='#translator'><font color='white'>On Site Translator</font></a></td></tr>
	<tr><td><a href='#verbconjugator'><font color='white'>Verb Conjugator</font></a></td></tr></table>
{% endblock %}


{% block content %}
<br /><br /><a name='determiners' />
<br /><font face='arial rounded mt bold' color='white'><big>Determiners</big></font> <font color='white'> <a href='#top'>top</a> </font>

<br /><br />Stuff about things


<br /><br />``Determiners'' just means adjectives that have to do with amountsish.  The ENDINGS of the adjectives must agree with the noun plurality and gender, except for qualunque and qualsiasi.

<h4>A little to a lot</h4>
<table>
	<tr><td class='it-note'></td><td class='it'>nessuno</td><td> &#x2014; </td><td>none</td><td>(not one)</td></tr>
	<tr><td class='it-note'></td><td class='it'>niente</td><td> &#x2014; </td><td>none</td><td></td></tr>
	<tr><td class='it-note'></td><td class='it'>qualunque</td><td> &#x2014; </td><td>any</td><td>(qualunque and qualsiasi are interchangeable)</td></tr>
	<tr><td class='it-note'></td><td class='it'>qualsiasi</td><td> &#x2014; </td><td>any</td><td></td></tr>
	<tr><td class='it-note'></td><td class='it'>poco</td><td> &#x2014; </td><td>little</td><td></td></tr>
	<tr><td class='it-note'></td><td class='it'>molti</td><td> &#x2014; </td><td>many</td><td></td></tr>
	<tr><td class='it-note'></td><td class='it'>parecchie</td><td> &#x2014; </td><td>many</td><td></td></tr>
	<tr><td class='it-note'></td><td class='it'>tutto</td><td> &#x2014; </td><td>everything</td><td></td></tr>
</table>
<h4>Miscellaneous</h4>
<table>
	<tr><td class='it-note'></td><td class='it'>questi</td><td> &#x2014; </td><td>these</td><td></td></tr>
	<tr><td class='it-note'></td><td class='it'>quelli</td><td> &#x2014; </td><td>those</td><td></td></tr>
	<tr><td class='it-note'></td><td class='it'>altro</td><td> &#x2014; </td><td>other</td><td></td></tr>
	<tr><td class='it-note'></td><td class='it'>diversi</td><td> &#x2014; </td><td>diverse</td><td></td></tr>
</table>

{% endblock %}
