{% extends "template.html" %}

{% block index %}
	<br /><br /><table align='center' border='1' bordercolor='#33ccff'><tr><td><table align='center' width='300' border='14' bordercolor='black'>
	<tr><td align='center' valign='center'><font color='white'><h2>Italian {{ course_name }}</h2></font></td></tr>
	<tr><td align='center'><a href='#subjunctive'><font color='#33ccff'>Subjunctive Tense (Il Congiuntivo)</font></a></td></tr>
	<tr><td align='center'><a href='#ne'><font color='#33ccff'>The Use of Ne</font></a></td></tr>
	<tr><td align='center'><a href='#doubleobjpronouns'><font color='#33ccff'>Double Object Pronouns</font></a></td></tr>
	<tr><td align='center'><a href='#commands'><font color='#33ccff'>Commands</font></a></td></tr>
	<tr><td align='center'><a href='#si'><font color='#33ccff'>Using "si"</font></a></td></tr>
	<tr><td align='center'><a href='#possession'><font color='#33ccff'>Possession</font></a></td></tr>
	</table></td></tr></table>
	<br /><br /><table align='center' border='1' bordercolor='#33ccff'><tr><td><table align='center' width='300' border='14' bordercolor='black'>
	<tr><td align='center' valign='center'><font color='white'><h2>Italian {{ course_name }} Vocab</h2></font></td></tr>
	</table></td></tr></table>
	<table align='center' border='15' bordercolor='black'>
	<tr><td><a href='#translator'><font color='white'>On Site Translator</font></a></td></tr>
	<tr><td><a href='#verbconjugator'><font color='white'>Verb Conjugator</font></a></td></tr></table>
{% endblock %}


{% block content %}





<br /><br /><a name='conditional' />
<br /><font face='arial rounded mt bold' color='white'><big>Conditional tense / tenso condizionale</big></font> <font color='white'> <a href='#top'>top</a> </font>

<br /><br />The conditional tense is the 'would' 'could' 'should' tense.  Below is the conditional *present* tense.  I don't know if it's different for past or future.

<br /><br />Directions:  1. Take the infinitive version of the verb (such as 'mangiare').  2. If it's an 'are' verb, change it to 'ere' (such are 'mangere').  3.  Append the appropriate ending (see below) (such as 'mangeresti').

<br /><br />
<table align='center' border='2' bordercolor='#dd2222' cellpadding='8'>
	<tr><td>i</td><td>mmo</td></tr>
	<tr><td>sti</td><td>ste</td></tr>
	<tr><td>bbe</td><td>bbero</td></tr>
</table>



<!-- todo: move this to more appropriate location -->
<br /><br /><a name='subjunctive' />
<br /><font face='arial rounded mt bold' color='white'><big>Subjunctive Tense (Il Congiuntivo)</big></font> <font color='white'> <a href='#top'>top</a> </font>

<br /><br />This tense is used for things unreal or uncertain, or that we have feelings about: hopes, fears, and doubts.

<br /><br />Typically the first part of the sentence (which indicates the unreal/uncertainness) is regular, and then the following part is in the subjunctive.  But the second part needs to have a different subject for it to be triggered.  See fluentu for more.

<br /><br />Like a regular verb, remove the are/ere/iri.  Add the following endings:

for ARE:
<br /><br /><table align='center' bgcolor='#dddddd' cellpadding='4' border='5' bordercolor='#aaaaaa'>
<tr>
	<td align='center'><font color='white'>i</font></td>
	<td align='center'><font color='white'>iamo</font></td>
</tr>
<tr>
	<td align='center'><font color='white'>i</font></td>
	<td align='center'><font color='white'>iate</font></td>
</tr>
<tr>
	<td align='center'><font color='white'>i</font></td>
	<td align='center'><font color='white'>ino</font></td>
</tr>
</table>

for IRE and ERE:
<br /><br /><table align='center' bgcolor='#dddddd' cellpadding='4' border='5' bordercolor='#aaaaaa'>
<tr>
	<td align='center'><font color='white'>a</font></td>
	<td align='center'><font color='white'>iamo</font></td>
</tr>
<tr>
	<td align='center'><font color='white'>a</font></td>
	<td align='center'><font color='white'>iate</font></td>
</tr>
<tr>
	<td align='center'><font color='white'>a</font></td>
	<td align='center'><font color='white'>ano</font></td>
</tr>
</table>

Because of the ambiguity, use 'io', 'tu', and 'lui/lei' before the verb.

<br /><br />Example: Che peccato che lei <b>sia</b> lontana da me!

Trigger phrases: (bulleted list)

	Che peccato che,
	E difficile che (it's unlikely that),
	Loro temono che (fear that),
	Sono contento che,
	credo che,
	Ritengo che (i'm convinced that),
	E facile che (it's likely that),
	Mi pare che (seems to me that),
	Cerfo informazioni sui treni cosi che (so that),
	Vado a Roma a meno che (unless / as long as),
	Affinche tu <b>possa</b> parlare bene in italiano, devi studiare (in order to),
	(except for),
	Nonostane Raffaella mi <b>ami</b>, mi tortura




<br /><br /><a name='ne' />
<br /><font face='arial rounded mt bold' color='white'><big>The Use of Ne</big></font> <font color='white'> <a href='#top'>top</a> </font>

<br /><br />The word 'ne' in Italian indicates the phrase 'of it' or 'of them.'  The italian word 'di' indicates the 'of' in a sentence.  Once you have located the 'di' in an italian sentence, take it and the words after it out of the sentence.  Add the word 'ne' before the verb.

<br /><br /></center>Example:  Ho paura dei topi ... I am afraid of mice
<br />&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp  Ne ho paura ... I am afraid of them<center>

<br /><br />When using 'ne' in the <b>past tense</b>, you must agree the end of the past tense verb with whatever the <u>it</u> or <u>them</u> is.

<br /><br /></center>Example:  Quanti fragoli hai mangiato? ... How many strawberries did you eat?
<br />&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp  Ne ho mangiati dieci ... I ate ten of them<center>

<br /><br />Please note that what normally be 'mangiato' now ends in 'i' because fragoli is plural and that is what the 'ne' is refering to.

<br /><br /><a name='doubleobjpronouns' />
<br /><font face='arial rounded mt bold' color='white'><big>Double Object Pronouns</big></font> <font color='white'> <a href='#top'>top</a> </font>

<br /><br />The word <i>direct object</i> refers to the noun after the action verb that the verb is talking about. In "I draw a picture," "picture" is the direct object.  An <i>indirect object</i> is the noun that the direct object refers to. In the sentence, "I wrote Sara a letter," "Sara" is the indirect object because the letter (which is the direct object) was written to her. In the sentence, "I threw the ball to John," "John" is the indirect object because the ball is being thrown to him. In English, words like "for" and "to" usually come before an indirect object; In Italian, the words "a" or "con" signify an indirect object.

<br /><br /><i>Direct Object Pronouns</i> replace both the direct and indirect objects in a sentence.  In the sentence, 'He gives the pencil to George,' 'pencil' is the direct and 'George' is the indirect.  In English we use the pronouns 'it' and 'him' to simplify this sentence.  'He gives it to him.'  In Italian, we put a double object pronoun before the verb.  A table for double object pronouns is below.

<br /><br /><table align='center' bgcolor='#dddddd' cellpadding='4' border='5' bordercolor='#aaaaaa'>
<tr><td align='center'><font color='black'>I.O.</font></td>
<td align='center'><font color='#dddddd'>/</font></td>
<td align='center'><font color='black'>D.O.</font></td>
<td align='center'><font color='#dddddd'>/</font></td>
<td align='center'><font color='black'>Double O.P.</font></td></tr>
<tr><td align='center'><font color='black'>me<br />te<br />glie<br />ce<br />ve<br />glie or loro</font></td>
<td align='center'><font color='black'> + </font></td>
<td align='center'><font color='black'>lo<br />la<br />li<br />le</font></td>
<td align='center'><font color='black'> = </font></td>
<td align='center'><font color='black'>me lo<br />te lo<br />glielo<br />ce lo<br />ve lo<br />glielo or lo <i>verb</i> loro</font></td>
</tr></table>

<br />the 'lo's in the last column could also be la, li, or le depending on the direct object, but I just used lo as an example.

<br /><br /></center>Example:  Gioco le carte con Anna ... I play cards with Anna
<br />&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp  Gliele gioco ... I play them with her<center>

<br /><br />When using an <b>infinitive</b>, attach the Double Object Pronoun to the end of the infinitive instead of before the verb.

<br /><br /></center>Example:  Voglio dare una mela a Cara ... I want to give a melon to Cara
<br />&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp  Voglio dargliela ... I want to give it to her<center>

<br /><br />In the <b>past tense</b>, agree the ending of the verb with the direct object.

<br /><br /></center>Example:  Abbiamo mandato una lettera a Pucinella ... We sent a letter to Pucinella
<br />&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp  Gliel'abbiamo mandata ... We sent it to him<center>

<br /><br /><a name='commands' />
<br /><font face='arial rounded mt bold' color='white'><big>Commands</big></font> <font color='white'> <a href='#top'>top</a> </font>

<br /><br /><br /><br />INFORMAL
</center><br /><br />1. In the INFORMAL, commands are only used in the <u>tu</u>, <u>noi</u>, and <u>voi</u> forms.
<br />2. They are conjugated like normal present tense verbs, with the following exceptions.
<br />3. For a <u>tu</u> conjugation of an <u>ARE</u> verb, use the <u>lui/lei</u> conjugation.
<br />4. For a <u>tu</u> conjugation preceded by <u>non</u>, use the infinitive form of the verb.
<br />5. Short <u>ARE</u> verbs such as <u>stare</u> can either become <u>sta`</u> or <u>stai</u> in the <u>tu</u> form.
<br />6. <u>Dire</u> is an irregular.  It becomes <u>di`</u> for all conjugations.<center>

<br />There are two other irregular verbs: Avere and Essere.  The <u>tu</u>, <u>noi</u>, and <u>voi</u> forms are shown below (yes, for INFORMAL) (No, it's not EXACTLY the same as subjunctive tense).
<br /><br /><table align='center' bgcolor='#dddddd' cellpadding='4' border='5' bordercolor='#aaaaaa'>
<tr><td align='center'><font color='black'>Avere</font></td>
<td align='center'><font color='black'>Essere</font></td></tr>
<tr><td align='center'><font color='black'>abbi<br />abbiamo<br />abbiate</font></td>
<td align='center'><font color='black'>sii<br />siamo<br />siate</font></td></tr></table>

<br />For reflexive verbs, conjugate them normally (even for the <u>tu</u> form) and add the following endings.  <b>ti</b> for <u>tu</u>, <b>ci</b> for <u>noi</u>, and <b>vi</b> for <u>voi</u>.

<br /><br />If you are using an indirect object pronoun with a short <u>are</u> verb in the <u>tu</u> form, such as <u>fare</u>, you attach it to the end of the conjugated verb and double the first letter of the indirect object pronoun.  <u>Fa`</u> + <u>mi</u> would become <u>Fammi</u> for example.




<br /><br /><br /><br /><center>FORMAL</center>

<br /><br />1. Because this is FORMAL, use the Lei when talking to 'you' and the Loro when talking to 'yall'.
<br />2. Use the present subjunctive tense.

<br /><br />For example, "Sir, come with me." is "Signore, venga con me."
<br /><br />For example, "Sirs, come with me." is "Signore, vengate con me."


<br /><br /><br /><br />Friend, come with me.
Sir, come with me.
Friends, say the truth.
Sirs, say the truth.





<br /><br /><a name='si' />
<br /><font face='arial rounded mt bold' color='white'><big>Using "si"</big></font> <font color='white'> <a href='#top'>top</a> </font>

<br /><br /><i>Si</i> is used to speak in general.  'In America they eat hamburgers', 'You must think before you speak', and 'Here we sing songs and dance,' are all general sentences.  They do not really refer to specific people.  <i>Si</i> is the italian equivilant.  To say a general sentence in Italian, place <i>si</i> before the verb and put the verb in the <u>lui/lei</u> or <u>loro</u> form.  If the Direct Object of the sentence is singular, you use the <u>lui/lei</u> form; if it is plural, use the <u>loro</u> form.

<br /><br /></center>Example:  Si studia Dante in casa ... We study Dante in our house
<br />&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp  Si studiano le opere ... We study operas<center>

<br /><br />There are three irregular phrases using <i>si</i> in Italian.
<br /><b>si sa che...</b> it is common knowledge that...
<br /><b>si capisce che...</b> it is obvious that...
<br /><b>si vede che...</b> it is clear that...






<br /><br /><a name='possession' />
<br /><font face='arial rounded mt bold' color='white'><big>Possession</big></font> <font color='white'> <a href='#top'>top</a> </font>

<br /><br />The possessive words equivalent to 'my', 'your', etc are mio, tuo, suo, nostro, vostro, loro.  You can view them <a href=''>here</a>.

<br /><br />These by default include an article.  For example, 'il mio', 'il tuo', 'il loro', etc.

<br /><br />If you have a OBJECT VERB POSSESSIVE pattern, the article is ommitted.  For example, "that woman is mine" is "Quella donna &egrave; mia".  For example, "The forest is theirs" is "La forresta &egrave; loro".

<br /><br />If the possessed noun is a FAMILY RELATION and in the SINGULAR and the possessor is NOT "LORO", then the article is ommitted.  For example, "my sister" is "mia sorella".  For example, "yalls gramma" is "vostra nona".





{% endblock %}
