{% extends "template.html" %}

{% block index %}
	<br /><br /><table align='center' border='1' bordercolor='#33ccff'><tr><td><table align='center' width='300' border='14' bordercolor='black'>
	<tr><td align='center' valign='center'><font color='white'><h2>Italian {{ course_name }}</h2></font></td></tr>
	<tr><td align='center'><a href='#spanish'><font color='#33ccff'>Spanish</font></a></td></tr>
	<tr><td align='center'><a href='#determiners'><font color='#33ccff'>Determiners</font></a></td></tr>
	</table></td></tr></table>
	
	<br /><br /><table align='center' border='1' bordercolor='#33ccff'><tr><td><table align='center' width='300' border='14' bordercolor='black'>
	<tr><td align='center' valign='center'><font color='white'><h2>Italian {{ course_name }} Vocab</h2></font></td></tr>
	<tr><td align='center'><a href='Vocab.html#storevocab'><font color='#33ccff'></font></a></td></tr>
	</table></td></tr></table>
	
	<table align='center' border='15' bordercolor='black'>
	<tr><td><a href='#translator'><font color='white'>On Site Translator</font></a></td></tr>
	<tr><td><a href='#verbconjugator'><font color='white'>Verb Conjugator</font></a></td></tr></table>
{% endblock %}


{% block content %}



<br /><br /><a name='spanish' />
<br /><font face='arial rounded mt bold' color='white'><big>Spanish</big></font> <font color='white'> <a href='#top'>top</a> </font>

<br /><br />Consecutive consonants in Spanish where the first of the two is "hard" will need to be replaced by doubled consonants in Italian using the SECOND of the pair.

<br />Spanish -> Italian
<br />ct -> tt (actual -> attuale)
<br />pt -> tt (capturar -> catturare)
<br />bt -> tt (obtuso -> ottuso)
<br />dv -> vv (adverbo -> avverbo)
<br />bv -> vv (obvio -> ovvio)
<br />mn -> nn (himno -> inno)
<br />

<br /><br /> Other doublings have different resolutions, and the rule is not as strict as the above.
<br />dj -> gg
<br />bj -> gg or bb
<br />bl -> bil or bbl (probable -> probabile) (obliga -> obbliga)



<br /><br /><a name='determiners' />
<br /><font face='arial rounded mt bold' color='white'><big>Determiners</big></font> <font color='white'> <a href='#top'>top</a> </font>

<br /><br />Stuff about things


<br /><br />``Determiners'' just means adjectives that have to do with amountsish.  The ENDINGS of the adjectives must agree with the noun plurality and gender, except for qualunque and qualsiasi.

<h4>A little to a lot</h4>
<table class='it-en'>
	<tr><td></td><td>nessuno</td><td> &#x2014; </td><td>none</td><td>(not one)</td></tr>
	<tr><td></td><td>niente</td><td> &#x2014; </td><td>none</td><td>(nothing)</td></tr>
	<tr><td></td><td>qualunque</td><td> &#x2014; </td><td>any</td><td>(qualunque and qualsiasi are interchangeable)</td></tr>
	<tr><td></td><td>chiunque</td><td> &#x2014; </td><td>anybody</td><td></td></tr>
	<tr><td></td><td>qualsiasi</td><td> &#x2014; </td><td>any</td><td></td></tr>
	<tr><td></td><td>qualcuno</td><td> &#x2014; </td><td>someone</td><td></td></tr>
	<tr><td></td><td>qualcosa</td><td> &#x2014; </td><td>something</td><td></td></tr>
	<tr><td>(or tutti e due)</td><td>entrambi</td><td> &#x2014; </td><td>both</td><td></td></tr>
	<tr><td></td><td>alcuni</td><td> &#x2014; </td><td>some</td><td></td></tr>
	<tr><td></td><td>poco</td><td> &#x2014; </td><td>little</td><td></td></tr>
	<tr><td></td><td>molti</td><td> &#x2014; </td><td>many</td><td></td></tr>
	<tr><td></td><td>tanti</td><td> &#x2014; </td><td>many</td><td></td></tr>
	<tr><td></td><td>parecchie</td><td> &#x2014; </td><td>many</td><td></td></tr>
	<tr><td></td><td>tutto</td><td> &#x2014; </td><td>everything</td><td></td></tr>
	<tr><td></td><td>tutti</td><td> &#x2014; </td><td>everyone</td><td></td></tr>
</table>
<h4>Miscellaneous</h4>
<table class='it-en'>
	<tr><td></td><td>questi</td><td> &#x2014; </td><td>these</td><td></td></tr>
	<tr><td></td><td>quelli</td><td> &#x2014; </td><td>those</td><td></td></tr>
	<tr><td></td><td>altro</td><td> &#x2014; </td><td>other</td><td></td></tr>
	<tr><td></td><td>diversi</td><td> &#x2014; </td><td>diverse</td><td></td></tr>
	<tr><td></td><td>molto</td><td> &#x2014; </td><td>very</td><td></td></tr>
</table>

Need "cui" topic here or in italian 3.

{% endblock %}
