h2 {
	font-family: Tahoma, Verdana, Segoe, sans-serif;
}



table.it-en td:nth-child(1) {
	text-align: right;
}
table.it-en td:nth-child(2) {
	text-align: right;
	font-style: italic;
}
table.it-en td:nth-child(3) {
	text-align: center;
}


thead {
	font-weight: bold;
}
