<html>
<head>
	<title>Italian {{ course_name }}</title>
	<link rel='stylesheet' href='style.css'>
	<script src='scripts/bundle.js'></script>
</head>

<body bgcolor="{{bgcolor}}" text="{{text}}" link="{{link}}" vlink="{{vlink}}" alink="{{alink}}">


{{ banner_snippet }}

<br /><br /><center><h1>Welcome to the Italian {{ course_name }} Webpage</h1>

<table width='70%'><tr>
	<td align='center'><i>Here you will find rules for the basic structure of the Italian language.  This particular site is specifically organized to benefit students taking the Italian {{ course_name }} course.  This site also contains a translator and verb conjugator.  If this site does not fully meet your needs, please submit your greivances to <a href="https://github.com/MareoRaft/italian/issues">GitHub</a>.</i></td>
</tr></table>

<br /><a href='#bottom'><font color='black' face='cac logo alternate' size='2'>to bottom</font></a>

{% block index %}{% endblock %}

{% block content %}{% endblock %}

<br /><br /><a name='translator' />
<br /><font face='arial rounded mt bold'><big>On-Site Translator</big></font> <font color='white'> <a href='#top'>top</a> </font>

<br /><br />Use the following translator as a quick reference to any vocabulary listed on this site.  For a more complete translator, please visit <a href='https://translate.google.com' target='translation'>translate.google.com</a>.

<form name="trans">
<br /><br /><table border="3" bordercolor='white' bgcolor='white'>
<tr><td align="center"><input type="text" name="word" size="22"></td></tr>
<tr><td align="center"><input type="text" name="answer" size="22" readonly></td></tr>
<tr><td align="center"><input type="button" value=" Translate " onclick="translator.translateWord()">
<input type="reset" value=" Clear "></td></tr>
</table>
</form>

<br /><br /><a name='verbconjugator' />
<br /><font face='arial rounded mt bold'><big>Verb Conjugator</big></font> <font color='white'> <a href='#top'>top</a> </font>

<br /><br />This conjugator will work for any regular verbs and a few irregular.  It currently handles presente, passato, passato remoto, imperfetto, trapassato, trapassato remoto, futuro, and futuro anteriore tenses.  You may input the tense in Italian or English, but the program is glitchy and some of the English tenses won't work.  The conjugator can also handle reflexive and reciprocol verbs.  Another good site for verb conjugation is <a href='http://www.verbix.com/languages/italian.shtml'>www.verbix.com/languages/italian.shtml</a>.  I learned many new tenses from this site.

<form name="conj">
<br />Conjugation of <input type="text" size="10" name="verb"> in the <input type="text" size="10" name="tense"> tense:
<br /><br /><input type="button" value="Conjugate" onclick="conjugator.conjugateVerb()">
<br /><br /><table border="3" bordercolor="white" bgcolor="white">
<tr><td><font color='black'>io</font></td><td><input type="text" size="20" name="ioform" readonly></td></tr>
<tr><td><font color='black'>tu</font></td><td><input type="text" size="20" name="tuform" readonly></td></tr>
<tr><td><font color='black'>lui/lei</font></td><td><input type="text" size="20" name="luileiform" readonly></td></tr>
<tr><td><font color='black'>noi</font></td><td><input type="text" size="20" name="noiform" readonly></td></tr>
<tr><td><font color='black'>voi</font></td><td><input type="text" size="20" name="voiform" readonly></td></tr>
<tr><td><font color='black'>loro</font></td><td><input type="text" size="20" name="loroform" readonly></td></tr></table>
</form>

<br /><br /><center><a href='#top'><font face='cac logo alternate' size='2'>to top</font></a></center>

<br /><hr>

<br /><br />{{ banner_snippet }}

<a name='bottom' />

</body>
</html>

